* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
}

.Mensagem2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 19px;
}

.Mensagem3 {
    margin-bottom: 10px; 
    font-size:17px;
}

.nome, .Username, .email, .telefone, .endereco, .cpf, .senha {
    margin-bottom: 15px; 
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #4CAF50;
    outline: none; 
}

.BotaoEnvio {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.BotaoEnvio:hover {
    background-color: #50afa5;
}

.teste {
    margin-top: 20px;
    text-align: center;
}

.BotaoRedirecionamento {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.BotaoRedirecionamento:hover {
    background-color: #8e3e8d;
    transform: scale(1.05);
}

.BotaoRedirecionamento:active {
    transform: scale(0.95); 
}
